moviehub-backend/src/main/resources/movies.xsd

<!--SUBEDI RABIN M25W0465-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://moviehub.com/soap"
           targetNamespace="http://moviehub.com/soap"
           elementFormDefault="qualified">

    <xs:element name="getTotalMoviesRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="getTotalMoviesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="count" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>